.pageHeader {
    text-align: center;
    margin: 2em;
}

.joe {
    text-align: center;
    border-bottom: 1.5em;
}

.image {
    border-radius: 8px;
}

.list {
    padding: 2px;
}

.legislation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.legList {
    flex-basis: 25%;
    border: 1px dotted black;
    padding: 0.25em;
    padding-right: 2em;
    text-align: left;
}
